@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}


/* Layout Local */
.right-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.label {
  font-weight: 700;
  font-size: 14px;
  color: #444;
}

/* Dropdowns */
select {
  padding: 6px 14px;
  border-radius: 12px;
  border: 2px solid #d3dff0;
  background: #eef5ff;
  font-weight: 700;
  cursor: pointer;
}

/* Switch Săptămână */
.switch-container {
  display: flex;
  background: #eef5ff;
  padding: 4px;
  border-radius: 20px;
  border: 2px solid #d3dff0;
  gap: 6px;
}

.switch-btn {
  width: 34px;
  height: 28px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
}

.switch-btn.active {
  background: #b8ffb8;
  color: #0a490d;
}
