/* ——— FONT GLOBAL —————————————— */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.page-container {
  margin-left: 232px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  max-width: 100%;
  padding-right: 20px;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow-y: auto;
}
