<div class="page-container">
  <app-sidebar></app-sidebar>

  <app-header
    [groups]="groups"
    [specializations]="specializations"
    [selectedGroup]="selectedGroup"
    [selectedSpecialization]="selectedSpecialization"
    [selectedWeek]="selectedWeek"
    (groupChange)="selectGroup($event)"
    (specializationChange)="selectSpecialization($event)"
    (weekChange)="selectWeek($event)"
  ></app-header>

  <app-timetable-grid
    [currentDayIndex]="currentDayIndex"
    [currentLinePosition]="currentLinePosition"
  ></app-timetable-grid>
</div>
