/* ——— FONT GLOBAL (Roboto Bold / Regular) —————————————— */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
}
.left-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.faculty-logo {
  object-fit: contain;
  border-radius: 10px;
}
.right-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.label {
  font-weight: 700;
  color: #444;
}

.switch-container {
  display: flex;
  background: #eef5ff;
  padding: 4px;
  border-radius: 20px;
  border: 2px solid #d3dff0;
  gap: 6px;
}

.switch-btn {
  width: 34px;
  height: 28px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
}

.switch-btn.active {
  background: #b8ffb8;
  color: #0a490d;
}

select {
  padding: 6px 14px;
  border-radius: 12px;
  border: 2px solid #d3dff0;
  background: #eef5ff;
  font-weight: 700;
  cursor: pointer;
}

.my-schedule-btn {
  width: 55px;
  height: 55px;
  border-radius: 16px;
  border: 2px solid #d3dff0;
  background: #eef5ff;
  font-size: 26px;
  cursor: pointer;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.my-schedule-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.28);
}

/* Dropdowns */
.specialization-select,
.group-select {
  padding: 6px 14px;
  border-radius: 12px;
  border: 2px solid #d3dff0;
  background: #eef5ff;
  font-weight: 700;
  cursor: pointer;
}


