<div class="sidebar">

  <div class="user-profile">
    <img src="profile.png" class="profile-avatar" alt="User" />

    <div class="user-info">
      <div class="user-name">Priala Radu</div>
      <div class="user-email">radu.priala@stud.ubbcluj.ro</div>
    </div>
  </div>

  <div class="sidebar-separator"></div>

  <div class="sidebar-menu">
    <div class="menu-title">Funcționalități</div>

    <button class="menu-item">⦿ Alege materie opțională</button>
    <button class="menu-item">⦿ Schimbă ora cu alta grupa</button>
    <button class="menu-item">⦿ Setări cont</button>
  </div>

</div>
