<div class="settings-section">

  <div class="profile-header">
    <div class="profile-picture">
      <img src="profile.png" alt="cont">
    </div>
    <div class="profile-info">
    <h2>Cont</h2>
    </div>
  </div>

  <div class="section">
    <div class="section-title">Date Personale
    </div>
    <div class="section-content">
      <div class="field">
        <label>Nume</label>
        <input type="text">
      </div>
      <div class="field">
      <label>Prenume</label>
      <input type="text">
      </div>
      <div class="field">
      <label>Email Personal</label>
      <input type="text">
      </div>
      <div class="field">
      <label>Telefon</label>
      <input type="text">
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-title">Date Academice
    </div>
    <div class="section-content">
      <div class="field">
        <label>Specializare</label>
        <select id="specializare">
          <option value="">...</option>
        </select>
      </div>
      <div class="field">
        <label>Grupa</label>
        <select id="grupa">
          <option value="">...</option>
        </select>
      </div>
      <div class="field">
      <label>Nr. Matricol</label>
      <input type="text">
      </div>
      <div class="field">
      <label>Cod Student</label>
      <input type="text">
      </div>
      <div class="field">
      <label>Email academic</label>
      <input type="text">
      </div>
    </div>
  </div>
</div>
